/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Typography
 */

/*h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}*/

/*
image postioning
*/

.headshot {
  position: relative;
  top: 150px;
  left: 0px;
  margin:0px;
  border-radius: 5px;
  padding:1px;
  border:1px solid #021a40;
  background-color:white;
}

.title-picture {
  height: 100%;
  width: 100%;
}

.title-text {
  position: absolute;
  top: 400px;
  color: white;
  font: bold 32px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background-color: rgba(0,0,0,.5);
  padding: 10px;
}

.bobbydodd {
  position: absolute;
  top: 0px;
  left: 0px;
  padding:0px;
  border-radius: 5px;
  border: 1px solid black;
}

.lax {
  height:40%;
  width:40%;
  float:right;
  border-radius: 5px;
  border: 1px solid black;
}

.contact-header {
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom:20px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: blue;
  display:block;
  margin-top:0px;
}

.bio {
  display:relative;
  height: 100%;
  width: 100%;
  margin-top:0px;
  background-color: white;
}

.bio-img {
  /*display:inline-block;*/
  float:right;
	width: 30%;
	height: inherit;
  left:0;
  color:black;
}

.bio-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom:20px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #FFB86F;
}

.bio-text {
  display:inline-block;
  float:left;
	width: 70%;
  height:;
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:0px;
  padding-bottom:0px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  left:0;
  color:black;
  /*background-color: yellow;*/
}

.education {
  display:relative;
  height: 100%;
  width: 100%;
  margin-top:0px;
  background-color: white;
}

.education-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom:20px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #eeb211;
}

.education-text {
  display:inline-block;
  float:right;
	width: 40%;
  height:auto;
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:0px;
  padding-bottom:0px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  left:0;
  color:black;
  /*background-color: yellow;*/
}

.education-img {
  /*display:inline-block;*/
  float:left;
	width: 60%;
	height: inherit;
  left:0;
  color:black;
}

.experience {
  display:relative;
  height: 100%;
  width: 100%;
  margin-top:0px;
  background-color: white;
}

.experience-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom:20px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #98C1D9;
}

.company-name {

}

.experience-text {
  display:relative;
	width: 100%;
  text-align: center;
  height:auto;
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:0px;
  padding-bottom:20px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  left:0;
  color:black;
  /*background-color: yellow;*/
}

.parent {
  /*background-image: url(assets/cliffs.jpg);*/
  /*background-size: cover;*/
  height:auto;
  /*background-repeat: no-repeat;
  background-position: center center;*/
  /*position:relative;*/
	/*height: auto;*/
	/*white-space: nowrap;*/
	max-width: 100%;
	width: 100%;
}

.figure {
  position: relative;
  display: inline-block;
  width:100%;
  height:10%;
}

.figure .figcaption {
	text-align: left;
  width:50%;
  padding: 10px;
  height:auto;
	font-size:40px;
	color:white;
  background-color: rgba(0,0,0,.5);
  position:absolute;
  top:60%;
  z-index:1;
  margin:0px;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Standard syntax (must be last) */
}

.figure .fig-nav a {
  color:white;
  text-decoration: none;
}

.figure .fig-nav a:hover {
  color:black;
}

.figure .fig-nav {
  text-align: right;
  right:0px;
  width:50%;
  padding: 10px;
  height:auto;
  font-size: 20px;
  color:white;
  background-color: rgba(0,0,0,.5);
  border-radius: 0px;
  position:absolute;
  top:0%;
  z-index:1;
  margin:0px;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Standard syntax (must be last) */
}

.contact-link {
  padding:30px;
  text-align:center;
}

.figure img {
  /*display:block;*/
  width:100%;
  height:100%;
  max-width: 100%;
  margin-bottom:0px;
}



.sample-works-header {
  clear: both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  color:white;
  background-color: #241E4E;
  width
}

.info {
  position: relative;
  padding-left: 21%;
  /*font-size: 20px;*/
}

.resume-holder {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.resume-header {
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom:20px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #4E598C;
}

.resume {
  clear: both;
  min-height: 200%;
  background-color: white;
}

.name {
  font-size:35px;
}

.work-block {
  display:relative;
  padding: 10px;
  float:left;
	width: 25%;
	height: 250px;
  -webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
  transition: .3s
  left:0;
  color:white;
}

.sample-work-blocks:hover > .work-block {
  width: 24%;
  height: 240px;
  margin-top: 0px;
}

.sample-work-blocks:hover > .work-block:hover {
  width: 28%;
  height: 250px;
  margin-top: 0px;
  /*-moz-box-shadow:    0px 0px 100px black;
  -webkit-box-shadow: 0px 0px 100px black;*/
  box-shadow:         0px 10px 100px 0px  black;
}

.work-block-header {
  font-size: 40px;
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.work-block-image {
  display:block;
  margin: auto;
  text-align: center;
  height: 70%;
  width: 70%;
  float:right;
  background-size: cover;
}

.work-block-info {
  transition:1s;
  padding: 20px;
  display: relative;
  clear: both;
  max-width: 100%;
  color:black;
  background-color: white;
}

.work-block-text {
  width: 28%;
}

.work-block-info-header {
  font-size
}

.work-block-link {
  color: white;
}

.work-block-link:hover {
  color: yellow;
}

.rct-sidebar-header {
  background: gold !important;
}

.rct-label-group {
  background: gold !important;
}

/*
sidebar links
*/
.sidebar a {
  color: white;
}

.active-row {
  background-color: lightgray;
}

a:focus {
  outline: none;
    text-decoration: none

}

.changeArrow:hover {
  color: gold;
  cursor: pointer;
}

.sidebar a:hover, .sidebar a:focus {
  color: gold;
  text-decoration: none
  outline: none;
}

.sidebar h5 {
  text-decoration: none
}

a:hover {
  color: gold;
    text-decoration: none

}

.nav a {
  display: block;
}

nav a {
  color: gold;
}

.activeLink {
  color: gold;
}

a:hover {
  color: gold;
    text-decoration: none

}

a:focus {
  color: gold;
    text-decoration: none

}

a:active {
  color: gold;
    text-decoration: none

}

a {
  text-decoration: none
}

tr:selected {
  background-color: gold;
}

.btn {
  background-color: gold;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0vh;
  left: 0;
  padding: 20px;
  /* overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.nav-link {
  display: inline-block;
}


.footer {
  position: absolute;
  top:92vh;
  bottom: 0vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
