/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Typography
 */

/*h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}*/


.react-calendar-timeline .rct-items .rct-item.analysis {
  background: gold;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} 
/* bootstrap hack end */

.rct-sidebar-header {
  background: gold !important; 
}

.rct-label-group {
  background: gold !important; 
}

/*
sidebar links
*/
.sidebar a {
  color: white;
}

.active-row {
  background-color: lightgray;
}

a:focus {
  outline: none;
    text-decoration: none

}

.changeArrow:hover {
  color: gold;
  cursor: pointer;
}

.sidebar a:hover, .sidebar a:focus {
  color: gold;
  text-decoration: none
  outline: none;
}

.sidebar h5 {
  text-decoration: none
}

a:hover {
  color: gold;
    text-decoration: none

}

.nav a {
  display: block;
}

nav a {
  color: gold;
}

.activeLink {
  color: gold;
}

a:hover {
  color: gold;
    text-decoration: none

}

a:focus {
  color: gold;
    text-decoration: none

}

a:active {
  color: gold;
    text-decoration: none

}

a {
  text-decoration: none
}

tr:selected {
  background-color: gold;
}

.btn {
  background-color: gold;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0vh;
  left: 0;
  padding: 20px;
  /* overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.nav-link {
  display: inline-block;
}


.footer {
  position: absolute;
  top:92vh;
  bottom: 0vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
