/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Typography
 */

/*h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}*/

/*
image postioning
*/

html * {
  font-family: "Raleway", sans-serif;
}

.headshot {
  position: relative;
  top: 150px;
  left: 0px;
  margin:0px;
  border-radius: 5px;
  padding:1px;
  border:1px solid #021a40;
  background-color:white;
}

.title-picture {
  height: 100%;
  width: 100%;
}

.title-text {
  position: absolute;
  top: 400px;
  color: white;
  font: bold 32px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background-color: rgba(0,0,0,.5);
  padding: 10px;
}

.bobbydodd {
  position: absolute;
  top: 0px;
  left: 0px;
  padding:0px;
  border-radius: 5px;
  border: 1px solid black;
}

.lax {
  height:40%;
  width:40%;
  float:right;
  border-radius: 5px;
  border: 1px solid black;
}

.contact-header {
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  /*padding-top: 20px;
  padding-bottom:20px;*/
  padding: 40px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: blue;
  display:block;
  margin-top:0px;
}

.bio {
  display:relative;
  height: 100%;
  width: 100%;
  margin-top:0px;
  background-color: white;
}



.bio-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding:40px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #FFB86F;
}

.bio-img {
  /*display:inline-block;*/
  float:right;
	width: 35%;
	height: inherit;
  left:0;
  color:black;
}

.bio-text {
  display:inline-block;
  text-align:center;
  float:left;
	width: 65%;
  height:;
  font-size: 20px;
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:0px;
  padding-bottom:0px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  left:0;
  color:black;
  /*background-color: yellow;*/
}

.icon {
  padding:5px;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  color:#4E598C;
}

.icon:hover {
  color: #98C1D9;
}

.education {
  display:relative;
  height: 100%;
  width: 100%;
  margin-top:0px;
  background-color: white;
}

.education-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding:40px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #eeb211;
}


.education-text {
  display:inline-block;
  text-align:center;
  position:relative;
  height:100%;
	width: 50%;
  height:auto;
  font-size: 18px;
  padding-right:20px;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:0px;
  padding-bottom:0px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  left:0;
  color:black;
  /*background-color: yellow;*/
}

.education-img {
  /*display:inline-block;*/
  float:left;
	width: 50%;
	height: inherit;
  left:0;
  color:black;
}

.experience {
  display:relative;
  height: 100%;
  width: 100%;
  margin-top:0px;
  background-color: white;
}

.experience-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding:40px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #98C1D9;
}

.company-name {

}

.company-holder {
  margin: 0px;
    width: 100%;
    height: 100%;
    line-height: 0px;
    text-align: center;
}

.experience-text {
  display:block;
	width: 100%;
  margin:auto;
  left:auto;
  right:auto;
  text-align: center;
  height:auto;
  padding-right:20px;
  padding-left:20px;
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:20px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
  /*left:0;*/
  color:black;
  /*background-color: yellow;*/
}

.parent {
  /*background-image: url(assets/cliffs.jpg);*/
  /*background-size: cover;*/
  height:auto;
  /*background-repeat: no-repeat;
  background-position: center center;*/
  /*position:relative;*/
	/*height: auto;*/
	/*white-space: nowrap;*/
	max-width: 100%;
	width: 100%;
}

.figure {
  position: relative;
  /*display: inline-block;*/
  width:100%;
  height:10%;
}

.education-container {
  position:relative;
}

.education-caption {
  text-align: right;
  width:50%;
  padding: 10px;
  height:auto;
	font-size:40px;
	color:white;
  position:absolute;
  top:65%;
  z-index:1;
  margin:0px;
  right:0px;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(0,37,76,1), rgba(0,37,76,0));
  background: linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,0)); /* Standard syntax (must be last) */

}

.figure .figcaption {
	text-align: left;
  width:50%;
  padding: 10px;
  height:auto;
	font-size:40px;
	color:white;
  background-color: rgba(0,0,0,.5);
  position:absolute;
  top:60%;
  z-index:1;
  margin:0px;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Standard syntax (must be last) */
}

.figure .fig-nav a {
  color:white;
  text-decoration: none;
}

.figure .fig-nav a:hover {
  color:black;
}

.figure .fig-nav {
  text-align: right;
  right:0px;
  width:60%;
  padding: 10px;
  height:auto;
  font-size: 20px;
  color:white;
  background-color: rgba(0,0,0,.5);
  border-radius: 0px;
  position:absolute;
  top:0%;
  z-index:1;
  margin:0px;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Standard syntax (must be last) */
}

.contact-link {
  padding:30px;
  text-align:center;
}

.figure img {
  /*display:block;*/
  width:100%;
  height:100%;
  max-width: 100%;
  margin-bottom:0px;
}



.sample-works-header {
  clear: both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding:40px;
  text-align: center;
  color:white;
  background-color: #241E4E;
  width
}

.education-top-img {
  width: 100%;
}

.sample-works-header {
  margin-top:0px;
  clear:both;
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding:40px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #241E4E;
}

.info {
  position: relative;
  padding-left: 21%;
  /*font-size: 20px;*/
}

.resume-holder {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.resume-header {
  font-family: 'Cantarell';font-size: 28px;
  letter-spacing: 10px;
  padding:40px;
  margin-bottom: 0px;
  text-align: center;
  color:white;
  background-color: #4E598C;
}

.resume {
  clear: both;
  min-height: 200%;
  background-color: white;
}

.name {
  font-size:35px;
}

.courses ul {
  list-style: none;
}

.course-block-wrapper {
  position: relative
}

.course-block {
  position:abolute;
  bottom: 0px;
  /*padding: 10px;*/
  float:left;
	width: 100%;
	height: full;
  -webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
  transition: .3s
  left:0;
  color:white;
  background-color:blue;
}

.work-block {
  display:relative;
  padding: 10px;
  float:left;
	width: 25%;
	height: 250px;
  -webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
  transition: .3s
  left:0;
  color:white;
}

.sample-work-blocks:hover > .work-block {
  width: 24%;
  height: 240px;
  margin-top: 0px;
}

.company-img {
  max-width: 40%;
  max-height: 20%;
  padding: 30px;
  vertical-align: middle;
}

.company-dates {
  font-size: 28px;
}

.company-text {
  font-size: 24px;
  text-align: center;
  width: 100%;
  /*line-height: 60px;*/
  padding-left:100px;
  padding-right: 100px;
  padding-bottom: 10px;
}

.company-text p {
  /*padding: 20px;*/
}

.company-tech {
  font-size: 24px;
  /*padding: 20px;*/
}

.sample-work-blocks:hover > .work-block:hover {
  width: 28%;
  height: 250px;
  margin-top: 0px;
  -moz-box-shadow:    0px 10px 100px 0px  black;;
  -webkit-box-shadow: 0px 10px 100px 0px  black;;
  box-shadow:         0px 10px 100px 0px  black;
}

.work-block-header {
  font-size: 40px;
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sav-text strong {
  font-weight: bolder;
  font-size: 22px;
}

.work-block-image {
  display:block;
  margin: auto;
  text-align: center;
  width: 65%;
  height: 70%;
  float:right;
  padding-bottom:30px;
}

.work-block-info {
  transition:1s;
  padding: 30px;
  padding-right:0px;
  display: relative;
  clear: both;
  max-width: 100%;
  color:black;
  background-color: white;
}

.work-block-text {
  float:left;
  padding-right:20px;
  width: 35%;
  font-size: 18px;
}

.work-block-info-header {
  font-size
}

.work-block-link {
  color: white;
}

.work-block-link:hover {
  color: yellow;
}





.footer {
  position: absolute;
  top:92vh;
  bottom: 0vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
