/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Typography
 */

/*h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}*/

/*
image postioning
*/
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.headshot {
  position: relative;
  top: 150px;
  left: 0px;
  margin:0px;
  border-radius: 5px;
  padding:1px;
  border:1px solid #021a40;
  background-color:white;
}

.bobbydodd {
  position: absolute;
  top: 0px;
  left: 0px;
  padding:0px;
  border-radius: 5px;
  border: 1px solid black;
}

.resume {
  position: relative;
  overflow: hidden;
  float: left;
}

.lax {
  height:40%;
  width:40%;
  float:right;
  border-radius: 5px;
  border: 1px solid black;
}

.bio-header {
  padding-top: 20px;
  background-color: blue;
}

.info {
  position: relative;
  padding-left: 21%;
  /*font-size: 20px;*/
}



.resume {
  display: relative;
  overflow: hidden;
}

.name {
  font-size:35px;
}

.work-block {
  display:relative;
  padding: 10px;
  float:left;
	width: 25%;
	height: 250px;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s
  left:0;
  color:white;
}

.work-block:hover {
  width: 25%;
  height: 250px;
  margin-top: 0px;
  -moz-box-shadow:    0 0 50px black;
  -webkit-box-shadow: 0 0 50px black;
  box-shadow:         0 0 50px black;
}

.work-block-header {
  font-size: 40px;
  text-align: center;
}

.work-block-image {
  display:block;
  margin: auto;
  text-align: center;
  height: 70%;
  width: 70%;
  float:right;
  background-size: cover;
}

.work-block-info {
  transition:1s;
  padding: 20px;
  display: relative;
  clear: both;
  max-width: 100%;
  background-color: white;
}

.work-block-text {
  padding-right:20px;
}

.work-block-info-header {
  font-size
}

.work-block-link {
  color: white;
}

.work-block-link:hover {
  color: yellow;
}

.rct-sidebar-header {
  background: gold !important;
}

.rct-label-group {
  background: gold !important;
}

/*
sidebar links
*/
.sidebar a {
  color: white;
}

.active-row {
  background-color: lightgray;
}

a:focus {
  outline: none;
    text-decoration: none

}

.changeArrow:hover {
  color: gold;
  cursor: pointer;
}

.sidebar a:hover, .sidebar a:focus {
  color: gold;
  text-decoration: none
  outline: none;
}

.sidebar h5 {
  text-decoration: none
}

a:hover {
  color: gold;
    text-decoration: none

}

.nav a {
  display: block;
}

nav a {
  color: gold;
}

.activeLink {
  color: gold;
}

a:hover {
  color: gold;
    text-decoration: none

}

a:focus {
  color: gold;
    text-decoration: none

}

a:active {
  color: gold;
    text-decoration: none

}

a {
  text-decoration: none
}

tr:selected {
  background-color: gold;
}

.btn {
  background-color: gold;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0vh;
  left: 0;
  padding: 20px;
  /* overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.nav-link {
  display: inline-block;
}


.footer {
  position: absolute;
  top:92vh;
  bottom: 0vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
